<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethan.common.dao.FcDeviceMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ethan.common.model.FcDevice">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="device_Serial_No" property="deviceSerialNo"/>
        <result column="device_description" property="deviceDescription"/>
        <result column="device_nickname" property="deviceNickname"/>
        <result column="period_start" property="periodStart"/>
        <result column="period_end" property="periodEnd"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="disable_date" property="disableDate"/>
        <result column="enable" property="enable"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        user_id,
        device_Serial_No,
        device_description,
        device_nickname,
        period_start,
        period_end,
        create_date,
        update_date,
        disable_date,
        enable
    </sql>

    <sql id="part_column">
        ${alias}.id,
        ${alias}.user_id,
        ${alias}.device_Serial_No,
        ${alias}.device_description,
        ${alias}.device_nickname,
        ${alias}.period_start,
        ${alias}.period_end
    </sql>

    <select id="findByUserId" resultMap="AllColumnMap" parameterType="map" >
        select <include refid="part_column"><property name="alias" value="dev"></property></include>
        from fc_device dev where dev.enable = true
        and dev.user_id = #{userId}
    </select>
    <select id="findByDeviceId" resultMap="AllColumnMap" parameterType="map" >
        select <include refid="part_column"><property name="alias" value="dev"></property></include>
        from fc_device dev where dev.enable = true
        and dev.id = #{deviceId}
    </select>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO fc_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.userId != null"> user_id, </if>
            <if test="pojo.deviceSerialNo != null"> device_Serial_No, </if>
            <if test="pojo.deviceDescription != null"> device_description, </if>
            <if test="pojo.deviceNickname != null"> device_nickname, </if>
            <if test="pojo.periodStart != null"> period_start, </if>
            <if test="pojo.periodEnd != null"> period_end, </if>
            <if test="pojo.createDate != null"> create_date, </if>
            <if test="pojo.updateDate != null"> update_date, </if>
            <if test="pojo.disableDate != null"> disable_date, </if>
            <if test="pojo.enable != null"> enable, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.userId != null"> #{pojo.userId}, </if>
            <if test="pojo.deviceSerialNo != null"> #{pojo.deviceSerialNo}, </if>
            <if test="pojo.deviceDescription != null"> #{pojo.deviceDescription}, </if>
            <if test="pojo.deviceNickname != null"> #{pojo.deviceNickname}, </if>
            <if test="pojo.periodStart != null"> #{pojo.periodStart}, </if>
            <if test="pojo.periodEnd != null"> #{pojo.periodEnd}, </if>
            <if test="pojo.createDate != null"> #{pojo.createDate}, </if>
            <if test="pojo.updateDate != null"> #{pojo.updateDate}, </if>
            <if test="pojo.disableDate != null"> #{pojo.disableDate}, </if>
            <if test="pojo.enable != null"> #{pojo.enable}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO fc_device(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.userId},
            #{pojo.deviceSerialNo},
            #{pojo.deviceDescription},
            #{pojo.deviceNickname},
            #{pojo.periodStart},
            #{pojo.periodEnd},
            #{pojo.createDate},
            #{pojo.updateDate},
            #{pojo.disableDate},
            #{pojo.enable}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE fc_device
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.userId != null"> user_id = #{pojo.userId}, </if>
            <if test="pojo.deviceSerialNo != null"> device_Serial_No = #{pojo.deviceSerialNo}, </if>
            <if test="pojo.deviceDescription != null"> device_description = #{pojo.deviceDescription}, </if>
            <if test="pojo.deviceNickname != null"> device_nickname = #{pojo.deviceNickname}, </if>
            <if test="pojo.periodStart != null"> period_start = #{pojo.periodStart}, </if>
            <if test="pojo.periodEnd != null"> period_end = #{pojo.periodEnd}, </if>
            <if test="pojo.createDate != null"> create_date = #{pojo.createDate}, </if>
            <if test="pojo.updateDate != null"> update_date = #{pojo.updateDate}, </if>
            <if test="pojo.disableDate != null"> disable_date = #{pojo.disableDate}, </if>
            <if test="pojo.enable != null"> enable = #{pojo.enable} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM fc_device
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.userId != null"> AND user_id = #{pojo.userId} </if>
            <if test="pojo.deviceSerialNo != null"> AND device_Serial_No = #{pojo.deviceSerialNo} </if>
            <if test="pojo.deviceDescription != null"> AND device_description = #{pojo.deviceDescription} </if>
            <if test="pojo.deviceNickname != null"> AND device_nickname = #{pojo.deviceNickname} </if>
            <if test="pojo.periodStart != null"> AND period_start = #{pojo.periodStart} </if>
            <if test="pojo.periodEnd != null"> AND period_end = #{pojo.periodEnd} </if>
            <if test="pojo.createDate != null"> AND create_date = #{pojo.createDate} </if>
            <if test="pojo.updateDate != null"> AND update_date = #{pojo.updateDate} </if>
            <if test="pojo.disableDate != null"> AND disable_date = #{pojo.disableDate} </if>
            <if test="pojo.enable != null"> AND enable = #{pojo.enable} </if>
        </where>

    </select>

<!--auto generated Code-->
    <delete id="delete">
        update fc_device set enable = false where id = #{id}
    </delete>
</mapper>
