<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethan.common.dao.FcUserDeviceMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ethan.common.model.FcUserDevice">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="device_id" property="deviceId"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        user_id,
        device_id
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO fc_user_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.userId != null"> user_id, </if>
            <if test="pojo.deviceId != null"> device_id, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.userId != null"> #{pojo.userId}, </if>
            <if test="pojo.deviceId != null"> #{pojo.deviceId}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO fc_user_device(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.userId},
            #{pojo.deviceId}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE fc_user_device
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.userId != null"> user_id = #{pojo.userId}, </if>
            <if test="pojo.deviceId != null"> device_id = #{pojo.deviceId} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM fc_user_device
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.userId != null"> AND user_id = #{pojo.userId} </if>
            <if test="pojo.deviceId != null"> AND device_id = #{pojo.deviceId} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM fc_user_device where id = #{id}
    </delete>
</mapper>
