<div id="main-container" >
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <mat-card class="main-frame">
                <mat-card-header class="d-flex justify-content-between ">
                    <mat-card-title class="d-flex justify-content-between">
                        <div>
                            <fa-icon [icon]='icons.avatar' ></fa-icon>
                            {{ menuHeader.avatar }}
                        </div>
                        <div>{{ menuHeader.title }}</div>
                        <div>
                            <fa-icon mat-icon-button [matMenuTriggerFor]="menu" [icon]='icons.ellipsis' ></fa-icon>
                            <mat-menu #menu="matMenu">
                                <span mat-menu-item>
                                    <a href="#" [routerLink]="[menuHeader.currentUrl]" routerLinkActive="router-link-active" >分享</a>
                                </span>
                                <button mat-menu-item>
                                    <span>Disable alerts</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <span>Check voicemail</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <router-outlet ></router-outlet>
                </mat-card-content>
                <mat-card-actions class="justify-content-center text-center" >
                    <button class="btn-frame btn-frame btn btn-primary" (click)="addDevice()">
                        <fa-layers fixedWidth="true">
                            <fa-icon [icon]="icons.circle"></fa-icon>
                            <fa-icon [icon]="icons.plus" transform="shrink-6"></fa-icon>
                        </fa-layers>
                        添加设备
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>