<div id="device-app-view" >
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="media align-items-center">
                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">淘宝</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                </div>
                <button mat-raised-button color="warn">卸载</button>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media align-items-center">
                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">微信</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                </div>
                <button mat-raised-button color="warn">卸载</button>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media align-items-center">
                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">微信</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                </div>
                <button mat-raised-button color="warn">卸载</button>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media align-items-center">
                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">微信</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                </div>
                <button mat-raised-button color="warn">卸载</button>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media align-items-center">
                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">微信</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                </div>
                <button mat-raised-button color="warn">卸载</button>
            </div>
        </li>
    </ul>
</div>