<div id="device-app" class="row" >
    <div class="col-12" >
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <img [src]="images[0]" alt="Random first slide">
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[1]" alt="Random second slide">
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[2]" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <mat-card class="skeleton-frame" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <fa-icon [icon]='icons.search' size='lg' ></fa-icon>
                </span>
            </div>
            <input type="text" class="form-control input-0-text" placeholder="搜索你需要的商品热门关键词" >
            <div class="input-group-append">
                <span class="input-group-text" style="border: 0px" >取消</span>
            </div>
        </div>
        <mat-card  >
            <mat-card-header>
                <mat-card-title>
                    推荐应用
                    <a href="#" [routerLink]="['/main/dashboard/application/view']" style="float: right;" >我的应用</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="media">
                            <img src="assets/imgs/1.png" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">淘宝</h5>
                            </div>
                            <button mat-stroked-button color="primary">安装</button>
                        </div>
                        <div >Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
                    </li>
                    <li class="list-group-item">
                            <div class="media">
                                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">淘宝</h5>
                                </div>
                                <button mat-stroked-button color="primary">安装</button>
                            </div>
                            <div >Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
                    </li>
                </ul>
            </mat-card-content>
            
        </mat-card>

        <mat-card  >
            <mat-card-header>
                <mat-card-title>
                    社交
                    <a style="float: right;" >更多应用</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="media">
                            <img src="assets/imgs/1.png" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">WhatsApp</h5>
                            </div>
                            <button mat-stroked-button color="primary">安装</button>
                        </div>
                        <div >Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
                    </li>
                    <li class="list-group-item">
                            <div class="media">
                                <img src="assets/imgs/1.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Wechat</h5>
                                </div>
                                <button mat-stroked-button color="primary">安装</button>
                            </div>
                            <div >Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
                    </li>
                </ul>


            </mat-card-content>
                
        </mat-card>

    </mat-card>
</div>