<div class="container-fluid" id="loginModule" >
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="jumbotron">
                    <h4 class="display-6">手机快捷登录</h4>
                    <form [formGroup]="loginForm" >
                        <mat-form-field class="input-group form-frame">
                            <input matInput formControlName="mobileNo" placeholder="请输入手机号码">
                            <span matSuffix >获取验证码</span>
                        </mat-form-field>
                        <!-- <span matSuffix >获取验证码</span> -->
                        <mat-form-field class="input-group form-frame">
                            <input matInput formControlName="mobileCode" placeholder="请输入验证码">
                        </mat-form-field>

                        <div class="input-group mb-4 col-12 justify-content-center align-items-center">
                            <button (click)="commit()" class="btn-frame btn btn-primary">登录</button>
                        </div>
                        <div class="input-group col-12 justify-content-center align-items-center">
                            <button (click)="regist()" class="btn-frame btn btn-outline-primary">注册</button>
                        </div>
                        
                    </form>
                </div>
            </div>
    </div>
    
    
</div>